.centralComponent {
  display: flex;
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: 350ms;
  width: 100%;
  &.large {
    margin-left: -250px;
  }
}

.centralComponent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../extras/pexels-photo-355747.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust the opacity to achieve the desired dimmed effect */
  z-index: -1; /* Ensure the overlay is behind the content */
}
.undo-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin: 10px;
  &.no-history {
    opacity: 75%;
    background-color: lightblue;
    border-color: lightblue;
  }
  background-color: teal;
  border-color: rgb(0, 164, 164);
  opacity: 85%;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.undo-button::before {
  content: "⬅"; /* Unicode left arrow, consider using an icon font or SVG for more flexibility */
  display: block;
  color: white;
  font-size: 24px;
}
