.sidebar-content {
  background-color: #d7d7d7;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -100%;
  transition: 850ms;
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &.visible {
    left: 0;
    transition: 350ms;
  }
}

.sidebar-item {
  border-bottom: 1px solid #ccc; /* Divider between items */
  &.selected {
    background-color: #555;
  }
  padding-bottom: 10px;
}

.button {
  align-items: center;
  justify-content: center;
}
